/* Title Bar Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Quicksand:wght@400;500;600&display=swap');
*{
  font-family: Quicksand, Roboto, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image:linear-gradient(to top right, #24283b, #343b58);
}

.App {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Add transition for background-color change */
}

.title-bar{
  display: inline-block;
  font-style: bold;
  background-color: #22283d;
  color: #a9b1d6;
  padding: 20px;
  text-align: left;
}

.title-bar-text{
  padding-left: 10px;
}

/* Button Styles */
.button {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  color: #a9b1d6;
  background-color: #353c5c;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  transition: 0.2s ease-out;
  transform: scale(1.0);
}

.button.fan {
  margin-right: 25px;
}


.button.expanded {
  width: 500px 
}

.buttonContainer {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Keep buttons in a horizontal layout */
  flex: 1; /* Take up remaining space */
  overflow: hidden; /* Hide overflow when sidebar is open */
}

.button-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the entire button's height */
}

.button-text {
  text-align: right; /* Align icon to the bottom right */
  padding: 10px; /* Add some padding for spacing */
  align-self: flex-end; /* Align to the bottom of the button */
  width: 175px;
}

.button-icon {
  font-size: 60px;
  flex: 1; /* Takes up all available vertical space */
  text-align: left; /* Align text to the top left */
  padding: 10px; /* Add some padding for spacing */

}

.button:hover {
  background-color: #424b71;
  transform: scale(1.05);
}

.homeIcon {
  position: relative;
  top: 2px;
}

.Test{
  position: relative;
  padding: 5px;
  width: 300px;
  height: 300px;
  background-color: #1f2335;
  border-radius: 30px;
  font-size: 60px;
  color: rgb(77, 77, 160)
}

.fanSpeedNum {
  position: relative;
  top: -16px;
  left: 5px;
  font-size: 40px;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #374266;
  border-radius: 5px;
  height: 0.5rem;
  width: 50px
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: 3px;
  margin-top: -4px; 
  background-color: #a9b1d6;
  height: 1rem;
  width: 1rem;    
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #374266;
  border-radius: 5px;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 3px; 
  background-color: #a9b1d6;
  height: 1rem;
  width: 1rem;
}

.fan-control {
  display: block;
  left: -30px;
  opacity: 0; 
  transition: all 0.5s ease; 
}

.fanText {
  color:#5869a2;
  font-size: 25px;
}
.button.expanded .fan-control{
  left: 30px;
  opacity: 1;
}

.fan-control .slider,
.fan-control .fanText {
  opacity: 0;
  transition: all 0.2s ease;
}

.button.expanded .fan-control .slider,
.button.expanded .fan-control .fanText {
  opacity: 1;
}
